.git
.gitignore
.env
.github
*.md
docs/
src/test
*.test
.idea/
.vscode/
.envrc
docker-compose.yaml
Dockerfile
taskfile.yaml
.air.toml
tmp/
make-certs.sh
cmd/client*
.air.toml
src/test

sonar-project.properties
