# AWS credentials
export AWS_ACCESS_KEY_ID="xxxxx"
export AWS_SECRET_ACCESS_KEY="xxxx"

# GCP credentials
export GCP_CREDENTIALS_FILE="config/gcp-creds.json"

# Fichier d'authentification
export AUTH_FILE="config/auth.yaml"

 
